#!{{ shell }}
#SBATCH --job-name={{ test_name }}_n{{ cores }}
#SBATCH --ntasks={{ cores }}
#SBATCH --output={{ result_dir }}/{{ test_name }}_n{{ cores }}_%j.out
#SBATCH --time={{ time_limit }}
#SBATCH --mem={{ memory }}

# Setup and activate environment
source {{env_setup_script}}

# Run step
cd {{ result_dir }}
mpirun -n {{ cores }} {{ target }} {{ input_file }} {{ runtime_args }}

