#!{{ shell }}
#SBATCH --job-name={{ test_name }}_n{{ cores }}
#SBATCH --ntasks={{ cores }}
#SBATCH --output={{ test_name }}_n{{ cores }}.out
#SBATCH --time={{ time_limit }}
#SBATCH --mem={{ memory }}

# Setup and activate environment
source {{env_setup_script}}

# Run step
cd {{ result_dir }}
mpirun -n {{ cores }} {{ target_dir }}/{{ target }} {{test_in_dir }}/{{ input_file }}
