#!{{ shell }}

# exit on error
set -eo pipefail

# access to the test instance directory
cd {{ test_instance }}

# Load necessary modules and activate the Python virtual environment
source {{ env_setup_script }}

# Pull the latest code from the repository
git clone --recursive https://github.com/quokka-astro/quokka.git

# Build the tests
cd quokka

{% for test in tests %}
mkdir -p build_{{ test.name}}
cd build_{{test.name}}
cmake .. -G Ninja {{ test.cmake_cache | join(' ') }} {{ gpu_build_flag }}
ninja -j4 {{ test.name }}
cd ..
{% endfor %}
