#!{{ shell }}
#SBATCH --job-name={{ name }}_n{{ core }}
#SBATCH --ntasks-per-node={{ ntasks_per_node }}
#SBATCH --nodes={{ node }}
#SBATCH --output={{ result_dir }}/{{ name }}_n{{ core }}_JobID_%j.out
#SBATCH --time={{ time_limit }}
#SBATCH --mem={{ memory }}

# 1 task  1 GPU core
#SBATCH --gpus-per-task=1
#SBATCH --gpu-bind=closest

{% if use_partition %}
#SBATCH --partition={{ partition }}
{% endif %}

# Setup and activate environment
source {{env_setup_script}}

# Run step
cd {{ result_dir }}
srun {{ target }} {{ input_file }} {{ ncell_args }}

