#!{{ shell }}
#SBATCH --job-name={{ name }}_n{{ core }}
#SBATCH --ntasks-per-node={{ core_per_node }}
#SBATCH --nodes={{ node }}
#SBATCH --output={{ result_dir }}/{{ test_name }}_n{{ core }}_JobID_%j.out
#SBATCH --time={{ time_limit }}
#SBATCH --mem={{ memory }}
{% if use_gpu %}
#SBATCH --gres=gpu:{{ core_per_node }}
{% endif %}

{% if use_partition %}
#SBATCH --partition={{ partition }}
{% endif %}

# Setup and activate environment
source {{env_setup_script}}

# Run step
cd {{ result_dir }}
srun {{ target }} {{ input_file }} {{ runtime_args }}

